body{
    font-family: 'Noto Sans', sans-serif;
    background: #caebf2;
}

.h1, h2, h3, h4{
      font-family: 'Roboto-Mono', monospace ;  
    }


.container{
    max-width: 840px;
    margin: 0 auto;


}
.intro{
    text-align: center;
}

.profile-picture{
    height: 200px;;
    width: 200px;
    border-radius: 46%;
    box-shadow: 0 4px 6px 0 rgb(34, 60, 80, 0.16);
    transition: all ease-in-out .2s;

}

.profile-picture:hover{
    box-shadow: 0 8px 12px 0 rgba(255, 0, 64, 0.16);
    cursor: pointer;
}



 .about-grids{
    display: grid;
    grid-template-columns: 50% 50%;
}
 
.i-like, .i-am{
text-align: center;
margin-top: 80px;

}

.about-lists{
    list-style: none;
}

@media (max-width:480px){
    
    .about-grids{
        grid-template-columns: 100%;
    }
}
.project-heading{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;

 }

.project-grid{
    display: grid;
    grid-template-columns: 50% 50%;
}


.project-image-wrapper{
    position: relative;
    justify-self: center;
    padding: 4%;
}
    

.project-image{
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgb(34, 60, 80, 0.16);
    transition: all ease-in-out .2s;
}

.project-image:hover{
    filter: brightness(.75);
    box-shadow: 0 4px 6px 0 rgb(34, 60, 80, 0.16);
    cursor: pointer;
}

.project-image-wrapper :hover > h4{
    visibility: visible;
    
}

.project-image-wrapper > h4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    visibility: hidden;
    z-index: 2;
    transition: all ease-in-out .2s;
}



 /* below here the media query only fires the code when the 
 size of page below than or equals to 650px */ 
@media (max-width: 650px){
    .project-grid{
        grid-template-columns: 100%;
    }
 }

 .links-contacts{
display: grid;
grid-template-columns: 30% 70%;
margin-left: 90px;



 }

 .links{
justify-self: center;
 }

 .links-list{

padding:0%;
 }

 @media(max-width:650px){
.links and contacts{
    grid-template-columns: 100%;
}
 }
 
 form input, textarea{
    padding:5%;
    border-radius: 5%;
    width: 240px;
    max-height: 5px;
   
   
}
  form input[type="submit"]{
    width: 250px;
    
 }
 .input-button-wrapper{
    margin: 20px 0;
    
    margin-left: 130px;
  
    transition: all ease-in-out .2s;
    
  


  
 }
 
.input-button-wrapper:hover{

    filter: brightness(.75);
    cursor: pointer;
    
   
}

 
.form{
    margin-left: 120px;

}
  
hr{
border: 0;
height: 1px ;
background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

}

.github {
    background-color: rgb(46, 164, 79);
    color: white;
    border: none;
    height: 40px;
    width: 90px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
  }

.facebook{
 padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
    
}
.facebook:hover {
  opacity: 0.7;
}


.linkedin{
    background-color: rgb(10, 102, 194);
    color: white;
    border: none;
    height: 40px;
    width: 240px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 0.15s;
  }

  .linkedin:hover {
    background-color: rgb(2, 70, 138);
}
